#nav-bar {
    margin:0;
    background-color:lightgray;

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.nav-link {
    display:block;
    width:150px;
    border-right:1px solid gray;

    background-color:lightgray;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color:darkgray;
}

.nav-link:nth-last-child(1) {
    border:none;
}

.nav-link.nav-link-active {
    background-color:darkgray;
}