#scoreboard-holder {
    margin:50px;
}

#scoreboard-header {
    text-align:center;
}

#scoreboard-content {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}
