@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

html, body {
    width:100%;
    height:100%;
    margin:0;
    overflow-x:hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}